html body {
	margin: 0 auto;
	padding: 0 auto;
}

.main {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	flex-direction: row;
}

.card {
	min-width: 200px;
	margin-right: 20px;
	width: 20%;
	height: 100vh;
	margin: 0px;
	
	border: 2px grey solid;
}

.overlay {
	height: inherit; 
	width: inherit;
	opacity: 0.2;
	color: darkgrey;
	transition: opacity 0.2s ease-in
}

.overlay:hover {
	opacity: 0;
}

img {
	height: inherit;
	width: inherit;
	object-fit: cover;
}
